@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode */
body {
  background-color: #ffffff; /* white color */
}

/* Dark mode */
body.dark {
  background-color: #2d3748; /* dark gray color */
}

.rbc-calendar {
  background-color: white;
}

.rbc-header,
.rbc-day-slot {
  border-color: black !important;
}

.event-type-1 {
  background-color: red;
}

.event-type-2 {
  background-color: blue;
}

.event-type-3 {
  background-color: green;
}